---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import htmx from 'htmx.org';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>Hello</h1>
  <script src={htmx}></script>
  <button hx-post="/clicked"
    hx-trigger="click"
    hx-target="#clicked"
    hx-swap="outerHTML"
  >Click Me</button>
  <div id="clicked">Not Clicked</div>
</Layout>
